<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>Candidates Plot</title>
</head>
<body>
<div class="all-classes-container" style="height: 100%"  >

    <div class="all-classes-container" style="display: inline-block; height: 100%" >
        <img th:src="${plotpathday}"   style="height: 100%" />

    </div>
    <div class="all-classes-container" style="display: inline-block; height: 100%">
        <img th:src="${plotpathweek}" style="height: 100%"  />

    </div>
    <form method="get" th:action="@{/plot}" >
        <button type="submit" name="submit" value="value" class="link-button">Back to startpage</button>
    </form>
</div>

</body>
</html>