<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Data of a Day</title>

</head>
<body>
<div class="all-classes-container" >

            <div class="all-classes-container">
                <img th:src="${plotpath}"   />

            </div>
<form method="post" th:action="@{/plot/week(date=${#temporals.format(localDate, 'yyyy-MM-DD')})}" >
    <button type="submit" name="submit" value="value" class="link-button">Week Data</button>
</form>
</div>
</body>
</html>