<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Predict Political Party Price</h1>
<div class="all-classes-container">
<h3>Plot data of the week by political directions:</h3>
<form method="post" th:action="@{/plot/week(date=${localDate})}">
    <button type="submit" name="submit" value="value" class="link-button">Week Plot</button>
</form>
<h3>Plot data of the day by political directions:</h3>
<form method="post" th:action="@{/plot/day(date=${localDate})}">
    <button type="submit" name="submit" value="value" class="link-button">Day Plot</button>
</form>

</div>
<h3>Plot data of different candidates:</h3>

<div class="row">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Candidates
    </button>
    <form method="post" th:action="@{/plot/candidates(date=${localDate})}" th:object="${plotInfo}"  >
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  id="candidateNames" size="5">
        <div th:each="candidate : ${candidateNames}">
            <input type="checkbox" class="dropdown-item" href="#" th:field="*{presidentNames}" th:value="${candidate.getName}" id="${candidate.getName}">
            <label   for="${candidate.getName}"   th:text="${candidate.getName}"></label>
        </div>

        </div>
        <div class="all-classes-container">
            <button type="submit" name="submit" value="value" class="link-button">Candidate Plot</button>
        </div>

    </form>
</div>

<script src="webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="webjars/popper.js/1.12.9-1/umd/popper.js"></script>
<script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>


</body>
</html>