<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Predict Political Party Price</h1>
<div class="all-classes-container">
<h3>Get data of the week:</h3>
<form method="post" th:action="@{/plot/week(date=${#temporals.format(localDate, 'yyyy-MM-DD')})}">
    <button type="submit" name="submit" value="value" class="link-button">Week Data</button>
</form>
<h3>Get data of the day:</h3>
<form method="post" th:action="@{/plot/day(date=${#temporals.format(localDate, 'yyyy-MM-DD')})}">
    <button type="submit" name="submit" value="value" class="link-button">Day Data</button>
</form>
</div>


</body>
</html>